venv/
.env
*.env
instalacao_waitress_flask.md
servidores.md
comandogit
.cursorrules
conceito.png
relatorio_plano_trabalho_presenca.md
TODO.md
instance/
static/uploads/alunos/*
static/uploads/autorizacoes_menor/*
!static/uploads/autorizacoes_menor/.gitkeep
app.py
__pycache__/
*.pyc
OAuth20 SistemaBMCM.txt